@font-face {
  font-family: "Montserrat";
  src        : url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src        : url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src        : url("fonts/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat-Medium.woff") format("woff"), url("fonts/Montserrat-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  src        : url("fonts/Raleway-Regular.woff2") format("woff2"), url("fonts/Raleway-Regular.woff") format("woff"), url("fonts/Raleway-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: bold;
  src        : url("fonts/Raleway-Bold.woff2") format("woff2"), url("fonts/Raleway-Bold.woff") format("woff"), url("fonts/Raleway-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src        : url("fonts/Raleway-SemiBold.woff2") format("woff2"), url("fonts/Raleway-SemiBold.woff") format("woff"), url("fonts/Raleway-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair Display";
  src        : url("fonts/Playfair-Display-Regular.woff2") format("woff2"),url("fonts/Playfair-Display-Regular.woff") format("woff"), url("fonts/Playfair-Display-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair Display";
  font-style : italic;
  src        : url("fonts/Playfair-Display-Italic.woff2") format("woff2"),url("fonts/Playfair-Display-Italic.woff") format("woff"), url("fonts/Playfair-Display-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto Condensed";
  font-weight: bold;
  src        : url("fonts/Roboto-Condensed-Bold.woff2") format("woff2"), url("fonts/Roboto-Condensed-Bold.woff") format("woff"), url("fonts/Roboto-Condensed-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Helvetica LT Std";
  src        : url("fonts/Helvetica-LT-Std-Roman.woff2") format("woff2"), url("fonts/Helvetica-LT-Std-Roman.woff") format("woff"), url("fonts/Helvetica-LT-Std-Roman.ttf") format("ttf");
}
