@import "fonts.scss";

html {
  font-size  : 100%;
}

body {
  background : url("images/body.jpg") 0 0 / contain no-repeat;
  font-family: "Montserrat", sans-serif;
  margin     : 0;
  padding    : 0;
}

a {
  color          : inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin         : 0;
  padding        : 0;
}

figure {
  margin: 0;
}

.burger {
  background: url("images/sprite.svg") 0 74.35% / 1080% no-repeat;
  cursor    : pointer;
  display   : none;
  height    : 20px;
  position  : absolute;
  right     : 15px;
  top       : 5px;
  width     : 20px;
}

.link {
  border-bottom : 0.125rem solid #00b0ff;
  color         : #00b0ff;
  font          : 1rem "Montserrat", sans-serif;
  font-weight   : 500;
  padding-bottom: 0.0625rem;
}

.button {
  background-color: #00b0ff;
  color           : #fff;
  display         : inline-block;
  font            : bold 0.875rem "Montserrat", sans-serif;
  letter-spacing  : 0.0625rem;
  padding         : 0.9375rem 1.875rem;
  text-transform  : uppercase;
}

.button:hover {
  color: #000;
}

.button-arrow {
  background: url("images/sprite.svg") no-repeat #fff;
}

.button-arrow_square {
  background-color   : #f2d800;
  background-position: 28% 10.3%;
  background-size    : 280%;
}

.button-arrow_square:hover {
  background-position: -14% 10.3%;
}

.button-arrow_circle {
  background-position: 70.4% 10.7%;
  background-size    : 300%;
  border             : 2px solid #646464;
  border-radius      : 50%;
}

.button-arrow_circle:hover {
  background-position: 111.78% 10.7%;
  border             : 2px solid transparent;
  box-shadow         : 0 0 25px 0 rgba(0, 0, 0, 0.16);
}

.headline {
  font          : bold 7.8rem "Montserrat", sans-serif;
  letter-spacing: 1.25rem;
  margin        : 0;
  opacity       : 0.015;
  position      : absolute;
  text-transform: uppercase;
  white-space   : nowrap;
}

.wrapper {
  margin-left : auto;
  margin-right: auto;
  max-width   : 1170px;
  position    : relative;
}

.header {
  align-items    : center;
  display        : flex;
  justify-content: space-between;
  margin-top     : 1.25rem;
}

.logo {
  font-size  : 2rem;
  font-weight: bold;
}

.header__nav {
  margin-right: 4.2735042735%;
}

.nav__link {
  font-size: 0.875rem;
}

.nav__link_top {
  color         : #000;
  font-family   : "Montserrat", sans-serif;
  font-weight   : 500;
  padding       : 0.3125rem 0.625rem;
  text-transform: uppercase;

  &:hover {
    background-color: #00b0ff;
    color           : #fff;
  }
}

.nav__link_bottom {
  background : url("images/sprite.svg") 0 15px no-repeat;
  box-sizing : border-box;
  color      : #fff;
  font-family: "Raleway", sans-serif;
  padding    : 10px 0 10px 30px;
  width      : 50%;

  &:hover {
    font-weight: bold;
  }
}

.social-links {
  font-size: 0;
}

.social-links__item {
  display     : inline-block;

  &:not(:last-of-type) {
    margin-right: 10px;
  }
}

.social-links__link {
  background   : url("images/sprite.svg") no-repeat #fff;
  border-radius: 50%;
  display      : block;
  height       : 36px;
  width        : 36px;

  &:hover {
    background-color: #000;
  }
}

.social-links__link_facebook {
  background-position: -17.5% 27.7%;
  background-size    : 310%;

  &:hover {
    background-position: 22.8% 27.7%;
  }
}

.social-links__link_instagram {
  background-position: -17.3% 36%;
  background-size    : 255%;

  &:hover {
    background-position: 27.7% 36%;
  }
}

.social-links__link_email {
  background-position: -10% 45.2%;
  background-size    : 320%;

  &:hover {
    background-position: 29% 45.2%;
  }
}

.main-page {
  position: relative;
}

.main-page__subtitle,
.main-page__title {
  font-family: "Playfair Display", sans-serif;
  font-style : italic;
  font-weight: normal;
  text-align : center;
}

.main-page__title {
  font-size    : 3.125rem;
  margin-bottom: 0;
  margin-top   : 120px;
}

.main-page__subtitle {
  color        : #fff;
  font-size    : 1.5rem;
  margin-bottom: 150px;
  margin-top   : 0;
}

.main-page__shop {
  margin-bottom: 15.1041666667%;
}

.main-page__shop-headline {
  letter-spacing  : 0.5rem;
  right           : calc(5.98290598291% + 45px);
  top             : -85px;
  transform       : rotate(270deg);
  transform-origin: right;
  z-index         : 1;
}

.shop {
  align-items: center;
  background : linear-gradient(129.5deg, #00d2ff 34%, transparent 34%)
               -1.4em no-repeat #fff;
  box-shadow : 0 -0.625rem 3.125rem 0 rgba(0, 0, 0, 0.32);
  display    : flex;
  margin     : 0 5.98290598291%;
  position   : relative;
}

.shop__photo {
  margin-left: 2.91262135922%;
  min-width  : 41.1650485437%;
  width      : 41.1650485437%;
}

.shop__previews {
  margin: 0 0 0 0.970873786408%;
}

.shop__article {
  font-family: "Montserrat", sans-serif;
  /*Pixels are in the padding because of Firefox's mechanism
  for resolving height*/
  padding    : 45px 4.854368932% 50px 5.82524271845%;
}

.shop__pagination {
  background-color: #000;
  color           : #fff;
  font            : 0.875rem "Montserrat", sans-serif;
  padding         : 0.75rem 0.625rem;
  position        : absolute;
  right           : 0;
  top             : 88px;
  z-index         : 1;
}

.shop__preview {
  border       : 1px solid #ccc;
  cursor       : pointer;
  font-size    : 0;

  &:not(:last-of-type) {
    margin-bottom: 0.1875rem;
  }

  &:hover {
    outline       : 0.125rem solid #00b0ff;
    outline-offset: -0.125rem;
  }
}

.shop__preview_selected {
  outline       : 0.125rem solid #00b0ff;
  outline-offset: -0.125rem;
}

.shop__title {
  font-size  : 1.25rem;
  font-weight: bold;
  line-height: 1.625rem;
  margin     : 0;
}

.shop__rating {
  margin-top: 0.3125rem;
}

.shop__tabs {
  margin: 11.3924050633% 0 7.59493670886%;
}

.shop__inner {
  align-items: center;
  display    : flex;
}

.shop__price {
  color       : #000;
  font-size   : 1.5rem;
  font-weight : bold;
  margin-right: 7.59493670886%;
}

.shop__view-all {
  display   : inline-block;
  margin-top: 17.7215189873%;
}

.rating {
  display: flex;
}

.rating__measure {
  font-size : 0;
}

.rating__item {
  background-image: url("images/sprite.svg");
  display         : inline-block;
  height          : 14px;
  padding-right   : 0.3125rem;
  width           : 14px;
}

.rating__item_enabled {
  background-origin  : content-box;
  background-position: 0 52%;
  background-repeat  : no-repeat;
  background-size    : 800%;
}

.rating__item_disabled {
  background-origin  : content-box;
  background-position: 24% 52%;
  background-repeat  : no-repeat;
  background-size    : 800%;
}

.rating__total {
  color         : #787878;
  font-size     : 0.75rem;
  font-weight   : bold;
}

.tabs {
  font-family: "Raleway", sans-serif;
}

.tabs__list {
  border-bottom: 0.0625rem solid #a0a0a0;
}

.tabs__item {
  color         : #a0a0a0;
  cursor        : pointer;
  display       : inline;
  font-size     : 0.875rem;
  font-weight   : bold;
  line-height   : 1.5625rem;
  padding-bottom: 0.1875rem;
  text-transform: uppercase;

  &:not(:last-of-type) {
    margin-right  : 7.59493670886%;
  }

  &:hover {
    border-bottom: 0.1875rem solid #00b0ff;
    color        : #000;
  }
}

.tabs__item_selected {
  border-bottom: 0.1875rem solid #00b0ff;
  color        : #000;
}

.tabs__content {
  color      : #787878;
  font-size  : 1rem;
  line-height: 1.5rem;
}

.shop__scroll {
  font-size: 0;
  position : absolute;
  right    : -38px;
  top      : 50px;
  z-index  : 1;
}

.shop__next,
.shop__prev {
  display: inline-block;
  height : 38px;
  width  : 38px;
}

.shop__next {
  transform: rotate(180deg);
}

.main-page__about-us {
  background   : url("images/main-page__about-us.jpg") 0 0 / contain no-repeat;
  margin-bottom: 280px;
  position     : relative;
}

.main-page__about-us-headline {
  font-size : 10.2083333333vw;
  left      : 0;
  right     : 0;
  text-align: center;
  top       : -9.16666666667vw;
  z-index   : -1;
}

.about-us {
  font-size: 0;
}

.about-us__article {
  background-color: #fff;
  box-sizing      : border-box;
  color           : #000;
  display         : inline-block;
  margin          : 15.625vw 5.98290598291% 0 0;
  padding         : 5.98290598291% 8.547008547%;
  position        : relative;
  vertical-align  : top;
  width           : 48.7179487179%;

  &::before {
    background-color: inherit;
    content         : '';
    height          : 100%;
    left            : -950px;
    position        : absolute;
    top             : 0;
    width           : 1000px;
  }
}

.about-us__title {
  font          : normal 1.125rem "Montserrat", sans-serif;
  font-weight   : 500;
  letter-spacing: 0.125rem;
  margin-bottom : 4.05405405405%;
  padding-left  : 4.05405405405%;
  text-align    : center;
  text-transform: uppercase;
}

.about-us__delimiter {
  margin: auto;
}

.delimiter-cross {
  background: url("images/sprite.svg") -1% 21.8% / 700% no-repeat #fff;
  height    : 13px;
  width     : 13px;
}

.delimiter-location {
  background: url("images/sprite.svg") 0 58% / 1250% no-repeat;
}

.about-us__description {
  font      : italic 1.375rem/2.375rem "Playfair Display", sans-serif;
  margin    : 5.40540540541% 0;
  text-align: initial;
}

.about-us__video {
  box-shadow: 1.25rem 1.25rem 3.125rem 0.3125rem rgba(0, 0, 0, 0.32);
  margin-top: 29.1666666667vw;
  width     : 42.735042735%;
}

.main-page__our-team {
  margin-bottom: 210px;
  position: relative;
}

.carousel {
  align-items    : center;
  display        : flex;
  flex-flow      : row nowrap;
  justify-content: space-between;
  padding        : 0 1.28205128205%;
}

.main-page__our-team-headline {
  font-size     : 10.4166666667vw;
  left          : -20px;
  letter-spacing: 0.8rem;
  right         : 0;
  text-align    : center;
  top           : -8.85416666667vw;
}

.carousel__list {
  text-align: center;
  width     : 86%;
}

.carousel__item {
  cursor  : pointer;
  display : inline-block;
  padding : 2.98210735586% 0 4.97017892644% 0;
  position: relative;
  width   : 26%;

  &:not(:first-child) {
    margin-left: -1.25rem;
  }

  &:nth-child(even) {
    top    : 30px;
    z-index: 1;
  }
}

.profile {
  background-color: #fff;
  border-radius   : 3%;
  box-shadow      : 1.25rem 1.25rem 3.125rem 0 rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #00b0ff;

    .profile__location,
    .profile__name,
    .profile__nickname {
      color: #fff;
    }

    .profile__delimiter {
      background-position: 53% 7.7%;
    }

    .profile__location-delimiter {
      background-position: 19.7% 58%;
    }
  }
}

.profile__avatar {
  border       : 0.125rem solid #fff;
  border-radius: 50%;
  margin-bottom: 2.74509803922%;
  width        : 38.4615384615%;
}

.profile__name {
  color      : #00b0ff;
  font       : 1.125rem "Montserrat", sans-serif;
  font-weight: 500;
  margin     : 0;
}

.profile__location,
.profile__nickname {
  color: #8c8c8c;
  font : 0.875rem "Raleway", sans-serif;
}

.profile__delimiter {
  margin: 5.88235294118% auto;
}

.delimiter-zigzag {
  background: url("images/sprite.svg") 0 7.7% / 320% no-repeat;
  height    : 6px;
  width     : 35px;
}

.profile__location-delimiter {
  display     : inline-block;
  height      : 13px;
  margin-right: 0.78431372549%;
  width       : 9px;
}

.carousel__next,
.carousel__prev {
  height    : 38px;
  margin-top: 30px;
  width     : 38px;
}

.carousel__next {
  transform: rotate(180deg);
}

.main-page__blog {
  margin-bottom: 235px;
}

.blog {
  text-align: center;
}

.blog__title {
  color         : #000;
  font          : normal 1.125rem "Montserrat", sans-serif;
  font-weight   : 500;
  letter-spacing: 0.125rem;
  margin-bottom : 1.7094017094%;
  text-transform: uppercase;
}

.blog__delimiter {
  margin: 0 auto 3.4188034188%;
}

.blog__posts {
  display        : flex;
  justify-content: center;
  margin-bottom  : 2.5641025641%;
}

.post {
  cursor: pointer;
  margin: 0 1.28205128205%;
  width : 23.0769230769%;

  &:hover {
    box-shadow: 0 0 1.5625rem 0 rgba(0, 0, 0, 0.32);

    .post__image-wrapper::after {
      background-image: none;
    }

    .post__caption {
      color: #0022ff;
    }
  }
}

.post__image {
  display: block;
  width  : 100%;
}

.post__image-wrapper {
  position: relative;

  &::after {
    background-image: linear-gradient(to bottom, transparent, #000);
    content         : '';
    height          : 100%;
    left            : 0;
    opacity         : 0.7;
    position        : absolute;
    top             : 0;
    width           : 100%;
  }
}

.post__caption {
  color     : #787878;
  font      : 1rem/1.5rem "Raleway", sans-serif;
  margin    : 9.25925925926%;
  text-align: left;
}

.main-page__social {
  align-items: flex-start;
  display    : flex;
  z-index    : 1;
}

.main-page__social-headline {
  font-size     : 5.5rem;
  left          : -5px;
  letter-spacing: 0.65rem;
  top           : -80px;
}

.main-page__instagram {
  margin : 0 4.2735042735% -225px 0;
  width  : 52.9914529915%;
  z-index: 1;
}
.instagram {
  font-size: 0;
}

.instagram__photo {
  width: 100%;
}

.instagram__footer {
  align-items     : center;
  background-color: #fff;
  display         : flex;
  padding         : 3.22580645161%;
}

.instagram__logo {
  margin-right: 3.22580645161%;
}

.instagram__slogan {
  color         : #00b0ff;
  font          : bold 1.5rem "Roboto Condensed", sans-serif;
  margin-right  : 2.58064516129%;
  text-transform: uppercase;
}

.instagram__nickname {
  font: 1rem "Raleway", sans-serif;
}

.main-page__facebook {
  box-sizing: border-box;
  margin    : 60px 5.12820512821% 0 0;
  min-width : 310px;
  padding   : 30px 4.2735042735%;
  width     : 37.6068376068%;
}

.facebook {
  background-image: linear-gradient(to bottom, #385490 50%, #e5e5e5 50%);
  font-family     : "Helvetica LT Std", sans-serif;
}

.facebook__logo {
  background: url("images/facebook.png") -1% 87% / 220% no-repeat;
  display   : block;
  height    : 35px;
  margin    : 0 auto 8.82352941176%;
  width     : 156px;
}

.facebook__profile {
  background: url("images/facebook.png") no-repeat #f6f7f9;
  padding   : 2.35294117647%;
}

.facebook__description {
  background   : url("images/facebook.png") -156px -131px no-repeat;
  box-sizing   : border-box;
  color        : #fff;
  display      : block;
  height       : 54px;
  margin-bottom: 10.8024691358%;
  padding      : 1.54320987654% 0 0 60px;
}

.facebook__title {
  font-size: 1.125rem;
}

.facebook__likes {
  font-size: 0.75rem;
}

.fb-button {
  background-color: #fff;
  box-shadow      : 0 0 0.0625rem 0.0625rem rgba(1, 1, 1, 0.2);
  color           : #4b4f56;
  display         : inline-block;
  font            : bold 0.75rem "Helvetica LT Std", sans-serif;
  letter-spacing  : 0.0625rem;
  padding         : 0.375rem 0.5rem 0.1875rem;
  text-transform  : capitalize;

  &::before {
    background    : url("images/facebook.png") -26px -173px no-repeat;
    content       : "";
    display       : inline-block;
    height        : 12px;
    margin-right  : 0.125rem;
    vertical-align: -0.0625rem;
    width         : 12px;
  }
}

.fb-button_like::before {
  background-position: 0 -173px;
}

.fb-button_share::before {
  background-position: -13px -173px;
}

.facebook__sharebutton {
  float: right;
}

.facebook__members {
  background-color: #f6f7f9;
  padding         : 2.35294117647%;
}

.fb-members {
  background-color: #fff;
  border-radius   : 0.308641975309%;
  box-shadow      : 0 0 0.25rem 0.0625rem rgba(0, 0, 0, .13);
  margin          : 0;
  padding         : 2.46913580247%;
}

.fb-members__title {
  color        : #4b4f56;
  font-size    : 0.75rem;
  margin-bottom: 0.923076923077%;
}

.fb-members__list {
  font-size: 0;
}

.fb-members__item {
  box-sizing: border-box;
  display   : inline-block;
  width     : 11.1111111111%;

  &:not(:last-of-type) {
    padding-right: 0.649350649359%;
  }
}

.fb-members__avatar {
  width: 100%;
}

.footer {
  background-color: #000;
  color           : #4d4d4d;
}

.footer__wrapper {
  align-items   : flex-end;
  display       : flex;
  flex-direction: column;
}

.footer__nav {
  display      : flex;
  flex-flow    : column wrap;
  height       : 10rem;
  margin       : 40px 0 48px auto;
  padding-right: 10.4166666667%;
  width        : 32.0388349515%;
}

.footer__copyright {
  align-self   : flex-start;
  margin-bottom: 12px;
}

.copyright {
  font: 600 0.75rem "Raleway", sans-serif;
}

.footer__subscribe {
  margin-bottom: 85px;
  margin-right : 17.094017094%;
  width        : 25.641025641%;
}

.form-subscribe {
  border-bottom: 0.0625rem solid #4d4d4d;
}

.form-subscribe__title {
  color        : #fff;
  display      : block;
  font         : 1rem "Montserrat", sans-serif;
  margin-bottom: 3.33333333333%;
}

.form-subscribe__textbox {
  background: url("images/sprite.svg") -57px -165px no-repeat;
  border    : none;
  color     : #4d4d4d;
  font      : 0.875rem/2.125rem "Raleway", sans-serif;
  height    : 34px;
  padding   : 0 0 0 25px;
  width     : 83.3333333333%;
}

.form-subscribe__textbox:focus {
  color  : #fff;
  outline: none;
}

.form-subscribe__submit {
  background : url("images/sprite.svg") 0 66.7% no-repeat;
  border     : none;
  float      : right;
  line-height: 34px;
  padding    : 0;
  width      : 24px;
}

@media screen and (max-width: 1250px) {
  .wrapper {
    max-width: 93.6%;
  }

  .header__nav {
    margin-right: 0;
  }

  .nav__link {
    font-size: 0.8125rem;
  }

  .social-links__item {
    margin-right: 5px;
  }

  .social-links__link {
    height: 30px;
    width : 30px;
  }

  .main-page__title {
    font-size : 2rem;
    margin-top: 40px;
  }

  .main-page__subtitle {
    font-size    : 1.3rem;
    margin-bottom: 60px;
  }

  .shop__title {
    font-size  : 1.0625rem;
    font-weight: 500;
  }

  .main-page__shop {
    margin-bottom: 10%;
  }

  .shop__photo {
    margin-left: 0;
  }

  .shop__article {
    /* Fix for Firefox ensures that vertical padding of the flex-item will be calculated relatively of the parent's width (height by default). It takes width of .main-page__shop, substracts margins
    of .shop and returns 2.427184466% of it:
    calc(93.6vw * (1 - 0.0598290598291 * 2) * 0.02427184466) = 2vw */
    padding: 2vw 2.427184466% 2vw 2.91262135922%;
  }

  .shop__tabs {
    margin: 5.06329113924% 0;
  }

  .tabs__item {
    font-size   : 0.75rem;
    margin-right: 3.594937%;
  }

  .tabs__content {
    font-size: 0.9rem;
  }

  .shop__price {
    font-size: 1.25rem;
  }

  .shop__view-all {
    margin-top: 8.86075949367%;
  }

  .shop__pagination {
    font-size: 0.8125rem;
    padding  : 0.5rem;
  }

  .link {
    font-size: 0.9rem;
  }

  .shop__scroll {
    right: -32px;
    top  : 56px;
  }

  .shop__prev, .shop__next {
    height: 32px;
    width : 32px;
  }

  .headline {
    display: none;
  }

  .main-page__about-us {
    margin-bottom: 7%;
  }

  .about-us__title {
    font-size    : 1rem;
    margin-bottom: 2.027027027%;
    margin-top   : 0;
    padding-left : 0;
  }

  .delimiter-cross {
    height: 10px;
    width : 10px;
  }

  .about-us__description {
    font-size  : 1.125rem;
    line-height: 1.75rem;
    margin     : 2.7027027027% 0;
  }

  .about-us__article {
    padding: 5.98290598291% 8.547008547% 0 8.547008547%;
  }

  .carousel__next, .carousel__prev {
    height: 30px;
    width : 30px;
  }

  .profile__name {
    font-size: 0.9375rem;
  }

  .profile__location, .profile__nickname {
    font-size: 0.8125rem;
  }

  .profile__delimiter {
    margin: 2.94117647059% auto;
  }

  .profile__location-delimiter {
    height: 10px;
    width : 7px;
  }

  .main-page__our-team {
    margin-bottom: 130px;
  }

  .blog__title {
    font-size    : 1rem;
    margin-bottom: 0.608695652174%;
    margin-top   : 0;
  }

  .blog__delimiter {
    margin-bottom: 1.7094017094%;
  }

  .post__caption {
    font-size  : 0.8125rem;
    line-height: 1.25rem;
    margin     : 4.87804878049%;
  }

  .button {
    font-size     : 0.8125rem;
    font-weight   : 500;
    letter-spacing: 0;
    padding       : 0.625rem 1.25rem;
  }

  .main-page__blog {
    margin-bottom: 105px;
  }

  .main-page__instagram {
    margin: 0 9.273504% -18vw 0;
    width : 47.991453%;
  }

  .instagram__slogan {
    font-size: 1.3rem;
  }

  .instagram__nickname {
    font-size: 0.9rem;
  }

  .fb-button {
    font-weight: normal;
  }

  .footer__wrapper {
    flex-flow      : row wrap;
    justify-content: space-between;
  }

  .footer__nav {
    margin-left  : 57.5444983818%;
    margin-top   : 1.59029126213vw;
    padding-right: 0;
    width        : 42.4555016182%
  }

  .footer__copyright {
    margin-bottom: 0;
  }

  .footer__subscribe {
    margin-bottom: 2.4vw;
  }

  .form-subscribe__title {
    font-size    : 0.875rem;
    margin-bottom: 0;
  }

  .form-subscribe__textbox {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 910px) {
  .header {
    flex-direction : column;
    justify-content: center;
    margin-bottom  : 4.3956043956%;
  }

  .social-links, .main-page__title, .main-page__subtitle {
    display: none;
  }

  .shop {
    flex-wrap      : wrap;
    justify-content: center;
  }

  .shop__photo {
    padding: 5px;
  }

  .shop__previews {
    width: 9.33333333333%;
  }

  .shop__preview-image {
    width: 100%;
  }

  .shop__article {
    box-sizing     : border-box;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    max-width      : 100%;
    padding-top    : 0;
  }

  .shop__title {
    font-size  : 0.875rem;
    font-weight: normal;
    line-height: normal;
  }

  .shop__rating {
    margin-top: 0;
  }

  .rating__total {
    font-weight: normal;
  }

  .shop__tabs {
    margin: 1.9746835443vw auto;
  }

  .tabs__content {
    margin-bottom: 0;
  }

  .shop__inner {
    order: 1;
  }

  .shop__price {
    font-size   : 1rem;
    font-weight : normal;
    margin-right: 15px;
  }

  .button {
    font-weight: normal;
  }

  .shop__view-all {
    align-self: center;
    margin    : 0;
  }

  .link {
    border-bottom-width: 0.0625rem;
    font-size          : 0.875rem;
    font-weight        : normal;
  }

  .main-page__shop, .main-page__about-us {
    margin-bottom: 10%;
  }

  .about-us__article {
    padding: 4.9914529911% 4.2735042735% 0 4.2735042735%;
  }

  .about-us__article::before {
    left: -1000px;
  }

  .about-us__title {
    font-size     : 0.875rem;
    letter-spacing: 0;
  }

  .about-us__description {
    font-size: 0.8125rem;
  }

  .main-page__our-team {
    margin-bottom: 14.36%;
  }

  .carousel {
    padding: 0;
  }

  .carousel__list {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    text-align     : center;
    width          : 80%;
  }

  .carousel__item {
    margin : 5px;
    padding: 2.23300198807vw 6%;
  }

  .profile__delimiter {
    width: 25px;
  }

  .blog__title {
    font-size     : 0.875rem;
    letter-spacing: 0;
  }

  .post {
    width: 33.333333333%;
  }

  .main-page__blog {
    margin-bottom: 10%;
  }

  .main-page__social {
    align-items: flex-end;
  }

  .main-page__instagram {
    margin: 0 auto -46px 0;
  }

  .instagram__footer {
    padding: 13px;
  }

  .main-page__facebook {
    flex-grow: 0.7;
    margin   : 0;
  }

  .instagram__logo {
    width: 20px;
  }

  .instagram__slogan {
    font-size: 1rem;
  }

  .instagram__nickname {
    font-size: 0.8rem;
  }

  .footer__wrapper {
    flex-flow: row-reverse nowrap;
  }

  .footer__nav {
    box-sizing  : border-box;
    flex-grow   : 0.7;
    height      : 7.3rem;
    margin-left : 0;
    min-width   : 310px;
    padding-left: 15px;
    width       : 37.6068376068%;
  }

  .nav__link_bottom {
    background-position: 0 11px;
    font-size          : 0.75rem;
    padding            : 7px 0 7px 25px;
  }

  .footer__copyright {
    margin-right: auto;
    margin-top  : 55px;
    width       : 47.991453%;
  }

  .copyright {
    font-size: 0.625rem;
  }

  .footer__subscribe {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  body {
    background-size: 140%;
  }

  .header {
    flex-direction: row;
    flex-wrap     : wrap;
    margin        : 5% auto;
  }

  .logo {
    font-size: 1.5rem;
  }

  .burger {
    display: block;
  }

  .header__nav {
    display  : none;
    font-size: 0;
  }

  .nav__link_top {
    box-sizing: border-box;
    display   : inline-block;
    width     : 33.33333333%;
  }

  .wrapper {
    max-width: 100%;
  }

  .shop {
    flex-direction: column;
    margin        : 0;
  }

  .shop__photo {
    height: 100%;
    width : 50%;
  }

  .shop__previews {
    display        : flex;
    justify-content: center;
    margin         : 0 auto 10px auto;
    width          : 75%;
  }

  .shop__preview {
    &,
    &:not(:last-of-type) {
      margin: 0 5px;
    }
  }

  .shop__scroll {
    display        : flex;
    justify-content: space-between;
    left           : 0;
    right          : auto;
    top            : 33vw;
    width          : 100%;
  }

  .shop__pagination {
    background-color: #929090;
    top             : 0;
  }

  .tabs__content {
    color      : #606060;
    line-height: 1.25rem;
    margin-top : 7px;
  }

  .main-page__about-us {
    background-size: 200%;
  }

  .about-us__article {
    box-shadow    : 0px 0px 15px 3px #000000;
    margin        : 10% 10% 0;
    padding-bottom: 4.9914529911%;
    width         : 80%;

    &::before {
      content: none;
    }
  }

  .about-us__description {
    font-style : normal;
    line-height: 1.5rem;
  }

  .about-us__video {
    display: none;
  }

  .carousel__prev,
  .carousel__next {
    margin-top: 0;
  }

  .carousel__prev {
    margin-left: 1%;
  }

  .carousel__next {
    margin-right: 1%;
  }

  .carousel__list {
    align-items: center;
    flex-flow  : column nowrap;
    height     : 80vh;
    width      : 75%;
  }

  .carousel__item {
    &,
    &:nth-child(even),
    &:not(:first-child) {
      box-sizing: border-box;
      margin    : 5px;
      min-height: 81px;
      position  : static;
      width     : 90%;
      z-index   : auto;
    }
  }

  .profile {
    display        : flex;
    justify-content: space-around;
  }

  .profile__text {
    min-width: 120px;
  }

  .profile__avatar {
    align-self: center;
    margin    : 0;
    width     : 63px;
  }

  .profile__delimiter {
    height: 4px;
    margin: 5px auto;
  }

  .profile__location-delimiter {
    margin-right: 3px;
  }

  .main-page__our-team {
    margin-bottom: 10%;
  }

  .blog__posts {
    flex-direction: column;
  }

  .post {
    display: flex;
    margin : 0;
    width  : 100%;
  }

  .post__image-wrapper {
    flex  : 1 0 155px;
    height: 105px;
  }

  .post__caption {
    box-sizing : border-box;
    font-size  : 0.75rem;
    line-height: 1.0625rem;
    margin     : 0;
    max-height : 103.66px;
    overflow   : hidden;
    padding    : 3.57142857143vw 3.57142857143%;
  }

  .main-page__social {
    box-shadow   : 0 0 9px 1px #545454;
    flex-wrap    : wrap;
    margin-bottom: 10%;
  }

  .main-page__instagram {
    flex         : 1 0 212px;
    margin-bottom: 0;
  }

  .instagram__photo {
    display: none;
  }

  .instagram__footer {
    padding: 20px 13px;
  }

  .main-page__facebook {
    flex     : 1 0 212px;
    min-width: initial;
    padding  : 10px;
  }

  .facebook {
    align-items: center;
    background : none #385490;
    display    : flex;
  }

  .facebook__logo {
    background-position: -1% 87%;
    background-size    : 220%;
    height             : 20px;
    margin             : 0 10px 0 0;
    width              : 90px;
  }

  .facebook__profile {
    background: none;
    display   : inline-block;
    padding   : 0;
  }

  .facebook__description {
    background-position: -114.5px -96px;
    background-size    : 250px;
    height             : 40px;
    margin-bottom      : 0;
    padding            : 0 0 0 40px;
  }

  .facebook__title,
  .facebook__likes,
  .facebook__likebutton,
  .facebook__sharebutton,
  .facebook__members {
    display: none;
  }

  .footer__wrapper {
    align-items   : center;
    flex-direction: column;
    flex-wrap     : wrap;
  }

  .footer__nav {
    align-items : center;
    flex-grow   : initial;
    margin      : 2vw 0;
    min-width   : auto;
    padding-left: 0;
    width       : 90%;
  }

  .nav__link_bottom {
    width: 100px;
  }

  .footer__copyright {
    align-self: auto;
    margin    : 0 0 2vw 0;
    width     : auto;
  }
}
